body{
    background-color: lightblue;
    text-align: center;
}

img{
    border-radius: 2%;
    box-shadow: 5px 6px 32px -1px #757575;
    width: 700px;
}

h3{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    position: absolute;
    left: 330px;
}